<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutCoversAnnotation="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	convertDeprecationsToExceptions="true"
	failOnWarning="true"
	failOnRisky="true">
	<testsuites>
		<testsuite name="openstation">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<groups>
		<include>
			<group>openstation</group>
		</include>
	</groups>
</phpunit>
